 <!-- About Section -->
    <section class="success" id="About Me">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-left">
                  <p>
                   I am currently a rising junior and aspiring BSBA candidate at Washington University in St. Louis with majors in Economics & Strategy, Computer Science and Mathematics. 
                   My curriculum spans a wide variety of fields, ranging from Game Theory and Economics, to Accounting and Finance, to Linear Algebra and Stochastic Calculus, to Algorithms and Data Structures. 
                   My diverse academic background has given me the ability to assess and approach problems from multiple angles. 
                   I am excited by opportunities where my academic interests converge and thus find a variety of fields in business extremely interesting. 
                   Some industries I find appealing are algorithmic trading, high frequency trading, information technology, accounting, consulting, investment banking, private equity and venture capital.
                  </p>
                  <p>
                  To put my interests broadly, I enjoy the process of dissecting complex and ambiguous problems and building elegant and novel solutions.
                  I love work with this process at its core, whether it be computer programming, data science, entrepreneurship, or anything else.
                  I am always willing to explore new and exciting applications and projects, regardless of how difficult they may be.
                  </p>
                  <p>
                  I have experience with a few different programming languages and tools. As far as computer languages go, I know Python, Java, C, C++, Javascript, HTML, C, CSS and Arduino. 
                  Some tools and technologies I am familiar with include MongoDB, SQL, Node.js, Socket.io, Apache, PHP and Git.
                  </p>
                  <p>
                  When I'm not working, I enjoy road trips and cruises with my family and friends. 
                  I like watching The Office, Rick and Morty, It's Always Sunny, Community and Silicon Valley in my downtime as well.
                  I'm also a complete sports junkie; I always love supporting the Bengals, Browns, Cavaliers, and other Ohio sports teams through the good and (usually) bad times. 
                  </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="F16.pdf" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-download" ></i> View My Resume
        			</a>
                </div>
            </div>
        </div>
    </section>
